@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h3, h4, p {
    margin: 0;
}

.disable {
    pointer-events: none !important;
}

