/*________Tic-tac-toe_______*/
.tic-tac-toe {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    grid-auto-rows: 3;
    background-color: var(--clr-primary);
}

.tic-tac-toe > div {
    width: 10vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-background);
    
}

.tic-tac-toe__cross, .tic-tac-toe__circle {
    height: 4rem;
    width: 4rem;
}

.tic-tac-toe__cross {
    stroke: var(--clr-cross);
}

.tic-tac-toe__circle > * {
    fill: var(--clr-circle);
}

/*_______Button______*/
.button {
    position: relative;
    padding: 1rem 2rem 0.5rem 2.5rem;
    color: var(--clr-primary);
    border: 3px solid var(--clr-primary);
    background-color: transparent;
    -webkit-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
}

.button:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: var(--clr-btn-background);
    border-right: 3px solid var(--clr-btn-background);
    border-bottom: 3px solid var(--clr-btn-background);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    padding: 0.75rem 2.25rem;
}

.button:hover:before {
    top: 0;
    left: 0;
}

/*______winner-page______*/
.winner-page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--clr-background);
    z-index: 1000;
}