:root {
    /*_______Colors_____*/
    --clr-primary: black;
    --clr-background: white;
    --clr-btn-background: rgb(182, 182, 182);
    --clr-cross: rgb(0, 255, 34);
    --clr-circle: rgb(255, 0, 0);
}